* text=auto eol=lf

*.html diff=html
*.md diff=markdown
*.blade.php linguist-language=PHP diff=html
*.css       linguist-language=CSS diff=css
*.js        linguist-language=Vue
*.php       linguist-language=PHP
*.vue       linguist-language=Vue diff=html

/.github        export-ignore
CHANGELOG.md    export-ignore
.styleci.yml    export-ignore
